<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>AGRIDS Map</title>
</head>
<body>
    <div class="container">
        <div class="info">
            <h1>AGRIDS Map</h1>
            <a href="vineyard_geojson_orion">View Vineyard</a>
            <a href="create_map">Create Map</a>
            <a href="import_csv">Import Labelled End Posts</a>
            <a href="import_csv_click_points_bearing_select_points">Import Unlabelled End Posts</a>
        </div>
    </div>
</body>
</html>