body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    background-color: #f0f0f0;
}

/*
.image-container {
    max-width: 800px;
    text-align: center;
}
*/

/*
img {
    max-width: 100%;
    height: auto;
}
*/

/*
.image-info {
    margin-top: 10px;
    text-align: center;
}
*/

/*
.map-info {
    margin-top: 10px;
    text-align: center;
}
*/